<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alan.dao.RelationDao">

    <select id="queryChildNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM relation
        WHERE parent_id = #{parentId}
    </select>
    <select id="queryParentNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM relation
        WHERE user_id = #{userId}
    </select>
</mapper>